body {
    background-color: #083D77;
    margin: 0;
	padding: 0;
    padding-top: 16px;
}

header{
    background-color: #6c91bf;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
     font-family: 'Times New Roman', Times, serif;
}
section {
    
    background-color: #dde157;
    width: 400px;
     margin: 100px auto;
    border-radius: 49.09px;
    border: 4px solid orange;
    text-align: center;
}

.link_soc{
    padding-top: 16px;
    padding-bottom: 16px;
}

span:hover{
    width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
